<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn">
    <appenders>
        <console name="console" target="SYSTEM_OUT">
            <patternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %t [%p] %c{1.} - %msg%n"/>
        </console>
        <!--
            -DLog4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector
            -DAsyncLogger.WaitStrategy=busyspin
        -->
        <rollingFile name="file" fileName="logs/application.log" filePattern="logs/%d{yyyy-MM-dd}/application.log.gz">
            <patternLayout pattern="%d{HH:mm:ss} %t [%p] %c{1.} - %msg%n"/>
            <policies>
                <onStartupTriggeringPolicy />
                <timeBasedTriggeringPolicy />
            </policies>
        </rollingFile>
    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </root>
    </loggers>
</configuration>
